.picture {
  width: 200px;
  height: 120px;
}
.picture:hover {
  width: 220px;
  height: 150px;
}
.menu-text {
  color: rgba(0, 128, 0, 0.671);
}
.box {
  box-shadow: 5px 5px 10px #4e186dbe;
}
.box:hover {
  width: 95%;
}
