.section-bg {
  background-image: url("../../../img/allphone.png");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}
.menuItem {
  background-color: rgba(0, 0, 0, 0.418);
  height: 400px;
}
.Sales {
  padding-top: 120px;
}
.Sales p {
  font-size: 40px;
}

@media (max-width: 900px) {
  .Sales {
    padding-top: 140px;
  }
  .Sales p {
    font-size: 15px;
  }
  .Sales h1 {
    font-size: 20px;
  }
}
